<!DOCTYPE html> 
<html> 
  
<head> 
    <title>FILE UPLOAD</title> 
</head> 
  
<body> 
    <h1>Single File Upload</h1> 
   
    <form action="/fileupload" 
      enctype="multipart/form-data" method="POST"> 
      
        <span>Upload SpreadSheet:</span>   
        <input type="file" name="mysheet" required/> <br> 
        <input type="submit" value="submit">  
    </form> 
</body> 
  
</html> 