<html>
    <head>
        <link rel="stylesheet" type="text/css" href='/static/css/homepage.css'>
    </head>
    <body>
        <h1> Welcome, {{user}}</h1>
        <h2>File Storage</h2>
        
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>sr no</th>
            <th>Filename</th>
            <th>Link</th>
            
        </thead>
        <tbody>
            {% for instance in files %}
            <tr>
                <td>{{instance.id}}</td>
                
                <td>{{instance.filename}}</td>
            
                <td><a href="{{url_for('static',filename=instance.filepath) }}">view here</a></td>
        
            </tr>
            {% endfor %}
        <tbody>
    </table>
</div>
<div class="centered"><button> <a href="upload">Add files</a>
</button>
    </div>
</body>

</html>